/* CSS */

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,103,157,1) 100%);
    min-height: 100vh;
    animation-name: load;
    animation-duration: 5s;
}

@keyframes load {
    0% {overflow: hidden;}
    100% {overflow: scroll;}
}

::-webkit-scrollbar {
  display: none;
}

::scrollbar {
    display: none;
  }

a {
    text-decoration: none;
}

p > a {
    color: inherit;
    text-decoration: underline;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
    margin: 5vh 0;
}

h3 {
    font-size: 32px;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 12vh;
    justify-content: space-around;
}

header > * {
    margin: 0 25px;
}
section {
    height: 100vh;
}

.header-logo {
    width: 80px;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.justify {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.section {
    color: white;
    padding: 0 15%;
}

.padding {
    padding: 0 15%;
}

@media screen and (max-width: 980px) {
    .padding {
        padding: 0 8%;
    }
}

.Main__Inner-sc-1241y56-0 > a {
    display: none !important; 
}

.eapps-link {
    display: none !important;
}

/* Header */

.menu-btn {
    appearance: none;
    --webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: x-large;
    cursor: pointer;
}   

.dropdown-menu {
    display: none;
}

.menu-content {
   display: none;
   position: absolute;
   background-color: #0000003b;
   min-width: 160px;
   z-index: 1;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}

.dropdown-item {
    color: white;
    padding: 12px 18px;
    text-align: center;
}

.dropdown-item:hover {
    background-color: #ffffff3b;
}

@media screen and (max-width: 980px) {
    .header-menu {
        display: none;
    }
    .dropdown-menu {
        display: block;
    }
    .menu-content {
        width: 100vw;
        position: absolute;
        left: 0;
        margin-top: 3.6vh;
    }
    .dropdown-item {
        padding: 16px 36px;
    }
}

/* Loader */

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00679D;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader-image {
      width: 10%;
      animation: loader 2s infinite;
      animation-timing-function: ease;
      z-index: 120;
  }
  @keyframes loader {
    0% { transform: rotateY(0deg);}
    100% { transform: rotateY(360deg);}
  }

  @media screen and (max-width: 980px) {
      .loader-image {
          width: 30%;
      }
  }

/* Landing Page */

.landing {
    color: white;
    flex-direction: column;
}

.landing-2 {
    margin-bottom: 25vh;
}

.social-media-landing {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.social-media-img {
    height: 25px;
    margin: 0 5px;
}

.social-media-text {
    display: block;
}

@media screen and (max-width: 980px) {
    .landing-2 {
        margin-bottom: 0;
    }
    .social-media-landing {
        position: static;
    }
    .social-media-text {
        display: none;
    }
    .social-media-img {
        margin: 15px;
        height: 30px;
    }
}

/* About Me */

/* Social Embeds */

.embed-logo {
    width: 70px;
    margin: 10px;
}

.embed-container {
    width: 100%;
}

#twitch-desktop {
    display: none;
}

#twitch-mobile {
    display: block;
}

.youtube-subscribe {
    width: 100%;
    border-radius: 5px;
}

.youtube-header {
    width: 100%;
    border-radius: 5px;
}

.youtube-subscribe-container {
    padding: 3% 5%;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instagram-subscribe-container {
    padding: 3% 5%;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    justify-content: space-between;
}

.youtube-profile-picture {
    border-radius: 50%;
    width: 80px;
}

.youtube-profile {
    margin: 15px;
}

.youtube-name {
    font-size: 26px;
    color: white;
}

.youtube-subscriber-count {
    font-size: 14px;
    color: gray;
}

.youtube-subscribe-button {
    color: rgb(226, 226, 226);
    padding: 12px 16px;
    background-color: rgb(201, 0, 0);
    border-radius: 5px;
}

#twitter-follow {
    width: 100%;
    margin-bottom: 3vh;
}

.instagram-profile-picture {
    border-radius: 50%;
    width: 120px;
}

.instagram-profile {
    margin: 15px;
}

.instagram-follow-button {
    padding: 12px 32px;
    background-color: #1b95e0;
    color: white;
    border-radius: 5px;
}

.twitter-follow-button-2 {
    padding: 12px 16px;
    color: #1b95e0;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #1b95e0;
}

@media screen and (min-width: 980px) {
    .embed-container {
        height: 80%;
    }
    #twitch-desktop {
        display: block;
    }
    #twitch-mobile {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    #twitter-follow {
        width: 100%;
    }
    .instagram-subscribe-container {
        flex-direction: column;
    }
}



/* Contact */

form {
    width: 100%;
    margin-top: 10px;
}

form > * {
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    width: 100%;
}

input, textarea {
    padding: 16px;
    background-color: #ffffff1c;
    color: white;
    resize: none;
}

textarea {
    height: 160px;
}

form > button {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: small;

}

::placeholder {
    color: white;
    font-size: small;
}